{% extends 'base_FRONT_REG.html.twig' %}

{% block title %}
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{asset('frontoffice/img/fav.png')}}" />
    <!-- Author Meta -->
    <meta name="author" content="colorlib" />
    <!-- Meta Description -->
    <meta name="description" content="" />
    <!-- Meta Keyword -->
    <meta name="keywords" content="" />
    <!-- meta character set -->
    <meta charset="UTF-8" />
    <!-- Site Title -->
    <title>Learn4u-Sign up!</title>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto:400,400i,500,700" rel="stylesheet" />
    <!--
        CSS
        =============================================
      -->
    <style>
        #registration_form_naissance{
            display: flex;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('frontoffice/css/linearicons.css') }}" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/magnific-popup.css') }}" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/owl.carousel.css') }}" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset('frontoffice/css/hexagons.min.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/main.css') }}" />
{% endblock %}
{% block home1 %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="text-white" >Sign up</h1>

    {{ form_start(registrationForm) }}
    <table>
        <tr>
            <td class="text-white">{{ form_label(registrationForm.fullname,"Full name :") }}</td>
            <td>{{ form_widget(registrationForm.fullname) }}</td>
            <td class="text-white">{{ form_errors(registrationForm.fullname) }}</td>
        </tr>
        <tr>
             <td class="text-white">{{ form_label(registrationForm.email,"Email :") }}</td>
             <td>{{ form_widget(registrationForm.email) }}</td>
             <td class="text-white">{{ form_errors(registrationForm.email) }}</td>
        </tr>
        <tr>
            <td class="text-white">{{ form_label(registrationForm.Username,"Username :") }}</td>
            <td>{{ form_widget(registrationForm.Username) }}</td>
            <td class="text-white">{{ form_errors(registrationForm.Username) }}</td>
        </tr>
        <tr>
             <td class="text-white">{{ form_label(registrationForm.plainPassword,"Password :") }}</td>
             <td>{{ form_widget(registrationForm.plainPassword) }}</td>
             <td class="text-white">{{ form_errors(registrationForm.plainPassword) }}</td>
        </tr>
        <tr>
            <td class="text-white">{{ form_label(registrationForm.naissance,"Birthday:") }}</td>
            <td>{{ form_widget(registrationForm.naissance ) }}</td>
            <td class="text-white">{{ form_errors(registrationForm.naissance) }}</td>
        </tr>
        <tr>
            <td class="text-white">{{ form_label(registrationForm.agreeTerms,"Agree terms :") }}</td>
            <td>{{ form_widget(registrationForm.agreeTerms) }}</td>
            <td class="text-white">{{ form_errors(registrationForm.agreeTerms) }}</td>
        </tr>
        <tr>
             <td><button type="submit" class="btn">Sign up</button></td>
        </tr>
    </table>
    {{ form_end(registrationForm) }}
{% endblock %}
{% block feature %}
{% endblock %}
{% block popularcourses %}
{% endblock %}
{% block video %}
{% endblock %}
{% block categories %}
{% endblock %}
{% block testimonials %}
{% endblock %}
{% block register %}
{% endblock %}
{% block ads %}
{% endblock %}
