{% extends 'base_FRONT_REG.html.twig' %}

{% block title %}
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{asset('frontoffice/img/fav.png')}}" />
    <!-- Author Meta -->
    <meta name="author" content="colorlib" />
    <!-- Meta Description -->
    <meta name="description" content="" />
    <!-- Meta Keyword -->
    <meta name="keywords" content="" />
    <!-- meta character set -->
    <meta charset="UTF-8" />
    <!-- Site Title -->
    <title>Learn4u-Sign up!</title>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto:400,400i,500,700" rel="stylesheet" />
    <!--
        CSS
        =============================================
      -->
    <style>
        #registration_form_naissance{
            display: flex;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('frontoffice/css/linearicons.css') }}" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/magnific-popup.css') }}" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/owl.carousel.css') }}" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset('frontoffice/css/hexagons.min.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/main.css') }}" />
{% endblock %}
{% block home1 %}
    <h2>Success!</h2>
	<p>Your account has been verified please return home</p>
{% endblock %}
{% block feature %}
{% endblock %}
{% block popularcourses %}
{% endblock %}
{% block video %}
{% endblock %}
{% block categories %}
{% endblock %}
{% block testimonials %}
{% endblock %}
{% block register %}
{% endblock %}
{% block ads %}
{% endblock %}
