{% extends 'base_FRONT_LOG.html.twig' %}

{% block title %}<!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{asset('frontoffice/img/fav.png')}}" />
    <!-- Author Meta -->
    <meta name="author" content="colorlib" />
    <!-- Meta Description -->
    <meta name="description" content="" />
    <!-- Meta Keyword -->
    <meta name="keywords" content="" />
    <!-- meta character set -->
    <meta charset="UTF-8" />
    <!-- Site Title -->
    <title>CyberArk-password forgotten</title>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto:400,400i,500,700" rel="stylesheet" />
    <!--
        CSS
        =============================================
      -->
    <link rel="stylesheet" href="{{ asset('frontoffice/css/linearicons.css') }}" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/magnific-popup.css') }}" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/owl.carousel.css') }}" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset('frontoffice/css/hexagons.min.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/main.css') }}" />
{% endblock %}

{% block body %}
    {% block header %}
        <header class="default-header">
            <nav class="navbar navbar-expand-lg  navbar-light">
                <div class="container">
                    <a class="navbar-brand" href="{{ path('base') }}">
                        <img src="{{ asset('frontoffice/img/logo.png') }}" alt="" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="lnr lnr-menu"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="courses.html">Courses</a></li>
                            <!-- Dropdown -->
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                    Pages
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="elements.html">Elements</a>
                                    <a class="dropdown-item" href="course-details.html">Course Details</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                    Blog
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="blog-home.html">Blog Home</a>
                                    <a class="dropdown-item" href="blog-single.html">Blog Details</a>
                                </div>
                            </li>
                            <li><a href="contacts.html">Contacts</a></li>

                            <li>
                                <button class="search">
                                    <span class="lnr lnr-magnifier" id="search"></span>
                                </button>
                            </li>
                            <li><a href="{{ path('app_login') }}">Sign in</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="search-input" id="search-input-box">
                <div class="container">
                    <form class="d-flex justify-content-between">
                        <input type="text" class="form-control" id="search-input" placeholder="Search Here" />
                        <button type="submit" class="btn"></button>
                        <span class="lnr lnr-cross" id="close-search" title="Close Search"></span>
                    </form>
                </div>
            </div>
        </header>
    {% endblock %}
    {% block home %}
        <section class="home-banner-area">
            <div class="container">
                <div class="row justify-content-center fullscreen align-items-center">
                    <div class="col-lg-5 col-md-8 home-banner-left">
                        {% block home1 %}
                            <p class="text-white">
                                If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
                                This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                            </p>
                            <p class="text-white">If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>

                        {% endblock %}
                    </div>
                    <div class="offset-lg-2 col-lg-5 col-md-12 home-banner-right">
                        <img class="img-fluid" src="{{ asset('frontoffice/img/header-img.png') }}" alt="" />
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
    {% endblock %}
