<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="{{ asset('back-office/assets/css/styles.css') }}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run composer require symfony/webpack-encore-bundle
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    {% block javascripts %}

        <script src="{{ asset ('back-office/js/scripts.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{{ asset('back-office/assets/demo/chart-area-demo.js') }}"></script>
        <script src=" {{ asset ('back-office/assets/demo/chart-bar-demo.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{{ asset('back-office/js/datatables-simple-demo.js') }}"></script>
    {% endblock %}
</head>
<body class="sb-nav-fixed">


{% block nav %}
    
    <div id="layoutSidenav">
        
    
        
            <div class ="container">
                <div class ="row">
            {% block content %}
                    {% block ts %}
                    {% endblock %}

            {% endblock %}
                </div>
            </div>
        

    </div>
    <a href="{{path("productsadmin")}}" class="btn btn-success" > Retour
{% endblock %}

</body>
</html>