<!DOCTYPE html>
<html>
<head>
	<title>EndGam - Gaming Magazine Template</title>

	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/locales-all.min.js" integrity="sha256-GcByKJnun2NoPMzoBsuCb4O2MKiqJZLlHTw3PJeqSkI=" crossorigin="anonymous"></script>


	<meta charset="UTF-8">
	<meta name="description" content="EndGam Gaming Magazine Template">
	<meta name="keywords" content="endGam,gGaming, magazine, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i" rel="stylesheet">


	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ asset('sonia/css/bootstrap.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('sonia/css/font-awesome.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('sonia/css/slicknav.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('sonia/css/owl.carousel.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('sonia/css/magnific-popup.css') }}"/>
	<link rel="stylesheet" href="{{ asset('sonia/css/animate.css') }}"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="{{ asset('sonia/css/style.css') }}"/>


	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js" integrity="sha256-YicH/8aE660iEnJtgll3vT54dJApy3XkYmqNfGVFEzA=" crossorigin="anonymous"></script>

<!-- Page Preloder -->
<!-- Header section -->
<header class="header-section">
	<div class="header-warp">
		<div class="header-social d-flex justify-content-end">
			<p>Follow us:</p>
			<a href="#"><i class="fa fa-pinterest"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-dribbble"></i></a>
			<a href="#"><i class="fa fa-behance"></i></a>
		</div>

	</div>
</header>
<!-- Header section end -->


<!-- Page top section -->
<section class="page-top-section set-bg" data-setbg="{{ asset('sonia/img/page-top-bg/4.jpg') }}">
	<div class="page-info">
		<h2>Contact</h2>
		<div class="site-breadcrumb">
			<a href="">Home</a>  /
			<span>Contact</span>
		</div>
	</div>
</section>
<!-- Page top end-->

<section class="contact-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 order-2 order-lg-1">
				{% for message in app.flashes('succes')%}
					<div class="alert alert-succes">
						{{ message }}
					</div>
				{% endfor %}

				{% block body %}{% endblock %}
			</div>
		</div>
	</div>
</section>

<!-- Footer section -->
<footer class="footer-section">
	<div class="container">

		<ul class="main-menu footer-menu">
			<li><a href="">Home</a></li>
			<li><a href="">Games</a></li>
			<li><a href="">Reviews</a></li>
			<li><a href="">News</a></li>
			<li><a href="">Contact</a></li>
		</ul>
		<div class="footer-social d-flex justify-content-center">
			<a href="#"><i class="fa fa-pinterest"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-dribbble"></i></a>
			<a href="#"><i class="fa fa-behance"></i></a>
		</div>
		<div class="copyright"><a href="">Colorlib</a> 2018 @ All rights reserved</div>
	</div>


</footer>
<!-- Footer section end -->

<!--====== Javascripts & Jquery ======-->
<script src="{{ asset('sonia/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('sonia/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('sonia/js/jquery.slicknav.min.js') }}"></script>
<script src="{{ asset('sonia/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('sonia/js/jquery.sticky-sidebar.min.js') }}"></script>
<script src="{{ asset('sonia/js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('sonia/js/main.js') }}"></script>
</body>
</html>
